{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">{{ items_count }}</div>
                    </div>
                </div>    
                <div class="row border-top border-bottom items">
					{% for c in cart_items %}
                    <div class="row main align-items-center itemss">
                        <div class="col-2"><img class="img-fluid" src="{{ c.item.product_image.url }}"></div>
                        <div class="col">
                            {% comment %} <div class="row text-muted">{{ c.item.product_name }}</div> {% endcomment %}
                            <div class="row">{{ c.item.product_name }}</div>
                        </div>
                        <div class="col">
                            <a href="{% url "decreaseItem" c.id %}" class="cart_btn">-</a><a href="#" class="border">{{ c.quantity }}</a><a href="{% url "increaseItem" c.id %}" class="cart_btn">+</a>
                        </div>
                        <div class="col amt-close">{{ c.price }} <a href="{% url "removeCartItem" c.id %} "><span class="close"  >&#10005;</span></a></div>
                    </div>
                    {% endfor %}

                </div>
                <div class="back-to-shop"><a href="{% url 'index' %}" class="back-to-shop-arrow">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div class="summery-div">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;"> ITEMS {{ items_count }}</div>
                        {% comment %} <div class="col text-right">₹ {{ total }}</div> {% endcomment %}
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select><option class="text-muted">Standard-Delivery - ₹ 40.00</option>
                            <option class="text-muted">Free-Delivery - ₹ 0.00</option></select>

                        <br><br>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">₹ {{ total }}</div>
                    </div>
                    <button class="btn">CHECKOUT</button>
                </div>
            </div>
        </div>
        
    </div>



    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>